
  .btn:focus {
    box-shadow: none !important;
  }


.btn:focus{
    box-shadow: 0 0 0.125rem rgb(13 113  253 / 25%) !important;
}

.btn-close:focus{
    box-shadow: 0 0 0.125rem rgb(13 113 253 / 25%) !important;
}

.form-control:focus{
    box-shadow: 0 0 0.125rem rgb(13 113 253 / 25%) !important;
}
.text-none{
    opacity: 0;
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1024px;
    }
  }






