{{template "desktop" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/index.css">
<style>
  body {
    background: white !important;
  }

  .w-120 {
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
  }

  .btn:focus {
    box-shadow: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{{end}}

{{define "content"}}

<main class="flex-shrink-0">
  <section class="py-5 text-center container">
    <div class="row mt-2 py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="d-flex">
          <img src="/static/images/" class="mx-auto w-120 img-thumbnail rounded-circle" alt="用户头像">
        </div>
        <p class="mt-1 fs-6 fw-normal text-dark">昵称：小菜菜</p>
        <p class="mt-1 fs-6 fw-normal text-dark">创建: 2021-12-09 12:00:22</p>
        <p class="mt-1 fs-6 fw-normal text-dark">来自：北京-西二环-西湾新区</p>

        <p class="mt-1 fs-6 fw-normal text-dark">座右铭：学以致用，坚持学习一百年不动摇</p>

        <p>
          <!-- <a href="#" class="btn btn-outline-primary my-2 d-inline-flex align-items-center">
            <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33" fill="none" stroke="currentcolor"
              width="16" height="16" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
              <path d="M16 2 L16 30 M2 16 L30 16" />
            </svg>
            <span class="d-inline ps-1"> 关 注 </span>
          </a> -->
          <a href="#" class="btn btn-outline-primary my-2 d-inline-flex align-items-center">
            <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16" height="16" fill="none"
              stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
            </svg>
            <span class="d-inline ps-1"> 编 辑 </span>
          </a>
        </p>
      </div>
    </div>
  </section>

</main>


{{end}}