{{define "base"}}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="lightsaid" content="weblogs">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    {{block "css" .}}

    {{end}}

</head>

<body>
    {{block "content" .}}

    {{end}}


    {{block "js" .}} {{end}}
</body>

</html>
{{end}}