{{template "admin" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/card-layout.css">
</style>

{{end}}

{{define "content"}}
{{$attrs := index .Data "attrs" }}
<div class="container">
    <div class="card mb-5 mb-lg-10">
        <div class="card-header">
            <div class="card-title d-flex flex-column justify-content-center">
                <h4>属性管理</h4>
            </div>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-primary my-1" data-bs-toggle="modal"
                    data-bs-target="#addMoal" onclick="addAttr()">添加</button>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-md">
                    <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">种类</th>
                            <th scope="col">名字</th>
                            <th scope="col">#操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $attrs}}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.Name}}</td>
                            <td>{{getAttrKind .Kind}}</td>
                            <td>
                                <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#addMoal"
                                    onclick='editAttr("{{.ID}}","{{.Kind}}","{{.Name}}")'>编辑</button>
                                <button type="button" onclick="deleteAttr('{{.ID}}')"
                                    class="btn btn-link text-danger">删除</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMoal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="addMoalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMoalLabel">添加属性</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="form-signin border rounded shadow m-3" novalidate>
                    {{.Data.csrfField}}
                    <div class="p-3">
                        <label for="name" class="form-label mb-1 small">名 字:</label>
                        <input type="name" name="name" id="name" class="form-control">
                    </div>
                    <div class="p-3">
                        <label for="kind" class="form-label mb-1 small">种类:</label>
                        <select class="form-select form-control" name="kind" aria-label="">
                            <option value="T">标签 - Tag</option>
                            <option value="M">标记 - Mark</option>
                            <option value="F">来源 - From</option>

                        </select>
                    </div>
                    <button class="btn btn-lg btn-primary p-0" style="width:0; height:0; border: none;" type="submit"
                        id="submit"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="onSubmit()">保存</button>
            </div>
        </div>
    </div>
</div>

{{end}}


{{define "js"}}
<script>
    function onSubmit() {
        var btnEle = document.getElementById("submit")
        btnEle.click()
    }

    function addAttr() {
        var form = document.querySelector("form")
        form.action = "/admin/attrs"
    }

    function editAttr(id, kind, name) {
        var form = document.querySelector("form")
        form.elements.name.value = name
        form.elements.kind.value = kind
        form.action = "/admin/attrs/" + id
    }

    var attrID = null
    function deleteAttr(id) {
        attrID = id
        Swal.fire({
            title: '你确定要删除么?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '确定',
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.value) {
                var aEle = document.createElement("a")
                aEle.href = "/admin/attrs/" + id
                aEle.click()
            }
        })
        attrID = null
    }
</script>
{{end}}