{{template "admin" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/card-layout.css">
<style>

</style>

{{end}}

{{define "content"}}
{{$userinfo := index .Data "userinfo" }}
<div class="container">
    <div class="card mb-5 mb-lg-10">
        <div class="card-header">
            <div class="card-title d-flex flex-column justify-content-center">
                <h4>Dashboard</h4>
            </div>
            <div class="card-toolbar">
                <!-- <a href="#" class="btn btn-sm btn-primary my-1">添加</a> -->
            </div>
        </div>
        <div class="card-body p-0">
            <div class="m-5">欢迎 <span class="text-primary">{{$userinfo.Username}}</span> 登录！</div>

            <!-- <div style="color: red;">{{.}}</div> -->
        </div>
    </div>
</div>

{{end}}