{{define "desktop"}}
<!doctype html>
<html lang="zh-CN" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="轻言博客">
  <meta name="author" content="Lightsaid">
  <meta name="generator" content="Lightsaid">
  <meta content="../static/images/logo.png" itemprop="image">
  <title>主页</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/public.css">

  <!-- Custom styles for this template -->
  {{block "css" .}}

  {{end}}
</head>
{{$userinfo := index .Data "userinfo" }}
{{$user := index .Data "user"}}

<body style="background: url(/static/images/pexels-home-background-6.jpg) no-repeat fixed center;">

  <!-- 导航 -->
  <header class="p-2 bg-header text-black fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/static/images/logo.png" alt="logo" class="img-fluid rounded">
        </a>

        <!-- 布局占位，请勿删除 -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <!-- <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
            <li><a href="#" class="nav-link px-2 text-black">专栏</a></li>
            <li><a href="#" class="nav-link px-2 text-black">关于</a></li> -->
        </ul>


        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header-nav">
            <li><a href="/"
                class="nav-link px-2 text-secondary nav-link-main  {{with .Menubar.Desktop}}text-nav-active {{end}}">首页</a>
            </li>
            <li><a href="/column"
                class="nav-link px-2 text-secondary nav-link-main {{with .Menubar.Column}}text-nav-active {{end}}">专栏</a>
            </li>
            <li><a href="/about"
                class="nav-link px-2 text-secondary nav-link-main nav-link-mr {{with .Menubar.About}}text-nav-active {{end}}">关于</a>
            </li>
            {{with $userinfo.UserID}}
            <li class="online">
              <div class="dropdown">
                <button class="btn btn-sm btn-white dropdown-toggle user-meun" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="img-fluid avatar" src="{{imageURL $userinfo.Avatar}}" alt="">
                  {{$userinfo.Username}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a class="dropdown-item" href="/publish">
                      <svg t="1647238615745" class="icon" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="11580" width="16" height="16">
                        <path
                          d="M820.974855 84.973204L704.67418 17.81366A132.271542 132.271542 0 0 0 638.333655 0a136.161881 136.161881 0 0 0-117.938712 68.592827L143.441525 722.988875a45.865055 45.865055 0 0 0-4.299849 36.241583l40.950942 233.215613A44.227017 44.227017 0 0 0 221.453069 1023.773541a40.950942 40.950942 0 0 0 8.599698 0l231.168065-77.397279A45.250791 45.250791 0 0 0 491.524529 923.648489l377.567682-653.781784a135.138107 135.138107 0 0 0-48.117356-184.893501z m-593.788654 884.949849L190.944617 762.916043 431.326645 900.920716z m240.177273-106.677203l-260.03848-150.085201 307.132062-530.724204 260.03848 150.289956z m357.50172-618.973483L798.656592 288.294629 539.232376 138.209428l25.389584-44.022262a85.587468 85.587468 0 0 1 73.711695-42.998489 81.901883 81.901883 0 0 1 40.950942 10.852l116.300674 67.159544a84.35894 84.35894 0 0 1 29.279923 115.072146zM925.809265 1023.773541h-286.656591a25.594339 25.594339 0 0 1 0-51.188677h286.656591a25.594339 25.594339 0 1 1 0 51.188677z"
                          p-id="11581"></path>
                      </svg>
                      <span>发布博文</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/about">
                      <svg t="1647239445222" class="icon" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="11786" width="16" height="16">
                        <path
                          d="M1011.3024 12.6976A25.6 25.6 0 0 0 983.04 7.168L20.48 422.7072A25.6 25.6 0 0 0 21.9136 471.04l384.4096 143.36 147.6608 389.12a25.6 25.6 0 0 0 23.3472 16.5888 25.6 25.6 0 0 0 23.9616-16.5888L1016.832 40.96a25.6 25.6 0 0 0-5.5296-28.2624zM880.64 107.3152L423.3216 564.6336 99.5328 444.416zM579.1744 925.0816l-122.88-322.1504L916.6848 143.36z"
                          p-id="11787"></path>
                      </svg>
                      <span>修改资料</span>
                    </a>
                  </li>
                  {{with $user.IfAdmin}}
                  <li>
                    <a class="dropdown-item" href="/admin/index">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-speedometer2" viewBox="0 0 16 16">
                        <path
                          d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                        <path fill-rule="evenodd"
                          d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                      </svg>
                      <span>后台管理</span>
                    </a>
                  </li>
                  {{end}}
                  <li>
                    <a class="dropdown-item" href="/admin/logout">
                      <svg t="1647238343662" class="icon" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="11006" width="14" height="15">
                        <path
                          d="M515.4816 933.2736H66.56V90.7264h448.9216a25.6 25.6 0 0 0 0-51.2H40.96A25.6 25.6 0 0 0 15.36 65.1264v893.7472A25.6 25.6 0 0 0 40.96 984.4736h474.5216a25.6 25.6 0 1 0 0-51.2z"
                          p-id="11007"></path>
                        <path
                          d="M1001.0624 493.9776L730.3168 223.0272a25.6 25.6 0 0 0-36.2496 36.2496L921.6 486.4H222.0032a25.6 25.6 0 0 0 0 51.2H921.6L694.0672 764.7232a25.8048 25.8048 0 0 0 18.0224 43.8272 26.4192 26.4192 0 0 0 18.2272-7.5776l270.7456-270.9504a25.3952 25.3952 0 0 0 0-36.0448z"
                          p-id="11008"></path>
                      </svg>
                      <span>退出登录</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            {{end}}
            <li><a href="#" class="nav-link px-2 text-secondary">BiliBili</a></li>
            <li><a href="#" class="nav-link px-2 text-secondary">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  {{block "content" .}}

  {{end}}

  <!-- Bootstrap js 会引起 editor.md 报错 -->
  <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>

  {{block "js" .}}

  {{end}}

</body>

</html>


{{end}}