{{template "base" .}}

{{define "css"}}
<style>
    html,
    body {
        height: 100%;
        flex-direction: column !important;
        display: flex !important;
        padding-top: 100px;
        background-color: #f5f5f5;
    }

    .btn:focus {
        box-shadow: none !important;
    }

    .p-left-15 {
        padding-left: 15%;
    }

    .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        margin: auto;
        background-color: #fff;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.125rem rgb(13 110 253 / 25%) !important;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
    }

    .checkbox label {
        cursor: pointer !important;
    }

    .btn-link {
        text-decoration: none;
    }
</style>
{{end}}


{{define "content"}}
<main id="app">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col d-flex flex-column justify-content-center p-left-15">
                <h1 class="">轻言博客</h1>
                <h4>学以致用，坚持学习一百年不动摇</h4>

                <!-- 测试数据地方 -->
                <!-- <h5 style="color: red;"></h5> -->

            </div>
            <div class="col">
                <form action="/admin/register" method="POST" class="form-signin border rounded shadow" novalidate>
                    {{.Data.csrfField}}
                    <div class="mb-3">
                        <label for="email" class="form-label mb-1 small">邮 箱:</label>
                        <input type="email" id="email" name="email" class='form-control 
                        {{with .FormValidator.Errors.Get "email"}} is-invalid {{end}}' v-model="formFileds.email"
                            placeholder="请输入邮箱">
                        {{with .FormValidator.Errors.Get "email"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label mb-1 small">密 码:</label>

                        <input type="password" id="password" name="password" class='form-control 
                         {{with .FormValidator.Errors.Get "password"}} is-invalid {{end}}'
                            v-model="formFileds.password" placeholder="请输入密码">
                        {{with .FormValidator.Errors.Get "password"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}

                    </div>

                    <div class="mb-3">
                        <label for="ack_password" class="form-label mb-1 small">确认密码:</label>
                        <input type="password" name="ack_password" class='form-control 
                        {{with .FormValidator.Errors.Get "ack_password" }} is-invalid {{end}}' id="ack_password"
                            v-model="formFileds.ack_password" placeholder="请输入密码">
                        {{with .FormValidator.Errors.Get "ack_password"}}
                        <span class="text-danger">{{.}}</span>
                        {{end}}
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">注&nbsp;册</button>

                    <div class="text-center">
                        <a class="btn btn-sm  btn-outline-success" href="/admin/login" type="button">去登录</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>

<!-- 页底 -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

{{end}}

{{define "js"}}
<script src="/static/js/vue.global.prod.3.2.js"></script>

{{$req := index .Data "request"}}
<script>
    var { createApp } = Vue

    // 使用Vue创建App, 响应式数据
    createApp({
        data() {
            return {
                formFileds: {
                    email: "{{with $req.Email}}{{.}}{{end}}",
                    password: "{{with $req.Password}}{{.}}{{end}}",
                    ack_password: "{{with $req.AckPassword}}{{.}}{{end}}",
                }
            }
        },
    }).mount("#app")

</script>



{{end}}