.container-fluid{
    margin: 0 !important;
    padding: 0.3em 1rem;
    background-color: var(--background);
    /* border-bottom: 1px solid var(--canvas); */
}
.submit-btns{
    margin-left: 2em;
}
.header .title{
    flex: 1;
}
ul{
    margin: 0;
    padding: 0;
}

.save-draft{
    border: 1px solid var(--link-color);
    color: var(--link-color);
    border-left: none !important;
}
.save-draft:active, .save-draft:hover, .save-draft:focus-visible{
    border: 1px solid var(--link-color) !important;
    color: var(--link-color) !important;
    border-left: none !important;
    filter: brightness(0.7);
}

.btn-secondary{
    --bs-btn-bg:#fff; 
    --bs-btn-active-bg: #fff;
    --bs-btn-hover-bg: #fff;

    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #6b6f73;
    --bs-btn-hover-color: #6c757d;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #6c757d;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}
