

.gox-body-container{
    display: grid;
    grid-template-columns: 640px 384px;
    padding: 16px 20px;
}

.gox-body-content{
    /* margin: 0 auto; */
}

.gox-body-slider{

}

.gox-body-slider .sticky-top{
    top: 72px;
}