.gox-body-content{
    position: relative;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    background: var(--background);
    height: 100%;
}

h4.title{
    display: inline-block;
    padding: 0.3em 1em 0.5em 0;
    font-weight: 400;
}
h4.title span{
    font-size: 0.875rem;
    background: var(--main-color);
}

.new-tag{
    right: 0;
    bottom: 0.8em;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.new-tag:hover, .new-tag:active{
    background-color: var(--main-active-color) !important;
    border-color: var(--main-active-color) !important;
    /* filter: brightness(0.9); */
}

.list-group .badge{
    background: var(--link-color) !important;
}

.list-group li a {
    color: var(--link-color);
    text-decoration: none;
}

.list-group li:first-child{
    border-top: 1px solid var(--bs-list-group-border-color);
}
.list-group li:last-child{
    border-bottom: 1px solid var(--bs-list-group-border-color) !important;
}

.list-group li a:hover, .list-group li a:active{
    color: var(--link-color);
    filter: brightness(0.8)
}